<p>This is the partial for view 1.</p>

<body ng-controller="View1Ctrl">
    <form novalidate ng-submit="soapSubmit()">
        <div>
            <label for="soapVersions"> SOAP version: </label>
            <select name="soapVersions" id="soapVersions" ng-model="input.version">
                <option ng-repeat="v in input.versions" value="{{v.id}}">{{v.name}}</option>
            </select> <br>

            Enter SOAP URL:
            <input type="text" ng-model="input.soapUrl"/> <br>
            Enter XML innerbody: 
            <input type="text" ng-model="input.body"/> <br>
            <input type="submit" value="Submit"/> <br>
            <span>Result: {{ result }} </span>
        </div>
    </form>
</body>